{% extends 'base.html' %}{% load i18n %}{% block content %}<h1>{% trans "Admin Dashboard" %}</h1>
<table class='table'><tr><th>{% trans "Project" %}</th><th>{% trans "Invited" %}</th><th>{% trans "Onboarded" %}</th><th>{% trans "Placed" %}</th><th>{% trans "Completed" %}</th></tr>
{% for p in projects %}<tr><td><a href='{% url "partner_project_detail" p.id %}'>{{ p.name }}</a></td><td>{{ p.invited }}</td><td>{{ p.onboarded }}</td><td>{{ p.placed }}</td><td>{{ p.completed }}</td></tr>{% empty %}<tr><td colspan='5'>{% trans "No projects yet" %}</td></tr>{% endfor %}</table>{% endblock %}
